<header class="bg-rose-500 sticky z-50">
  <div class="container mx-auto">
    <div class="navbar ">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </label>
          <ul class="menu dropdown-content mt-1 p-2 shadow bg-base-100 rounded w-52"
          >
            <li>
              <a routerLink="/orders" routerLinkActive="btn-active">Orders</a>
            </li>
            <li>
              <a routerLink="/meals" routerLinkActive="btn-active">Meals</a>
            </li>
          </ul>
        </div>
        <a routerLink="/" class="btn btn-ghost normal-case">
          <div class="text-3xl">
            <span class="font-bold text-stone-200">Food</span>
            <span class="font-thin text-stone-700">mano</span>
          </div>
        </a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li>
            <a routerLink="/orders" routerLinkActive="btn-active">Orders</a>
          </li>
          <li>
            <a routerLink="/meals" routerLinkActive="btn-active">Meals</a>
          </li>
        </ul>
      </div>
      <div class="navbar-end">
        <a routerLink="/cart" class="btn btn-ghost">
          <i class="pi pi-shopping-cart"
            style="font-size: 1.5rem;"
            *ngIf="cartQuantity === 0"></i>
          <div class="indicator" *ngIf="cartQuantity > 0">
            <span class="indicator-item badge badge-secondary">
              {{ cartQuantity }}
            </span>
            <i class="pi pi-shopping-cart"
            style="font-size: 1.5rem;"></i>
          </div>
        </a>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img src="assets/images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" />
            </div>
          </label>
          <ul class="menu dropdown-content mt-1 p-2 shadow bg-base-100 rounded w-52">
            <li>
              <a class="justify-between">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
